[mysqld]
default_authentication_plugin   = mysql_native_password
server-id                       = 2
relay_log_info_repository       = TABLE
master_info_repository          = TABLE
gtid_mode                       = on
enforce_gtid-consistency        = on
